.page-center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6f6fdc, #7f6fdc);
}

.paper {
  width: 600px;
  padding: 30px;
  border-radius: 14px;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
