*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #111;
    color: #fff;
}
.nav-list ul li{
    display: inline-block;
    margin: 10px;
    
}
.nav-list ul li:hover{
    color: orangered;
    cursor: pointer;
}